.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
    no-repeat center/ cover;
    
}

 h1 {
    font-size: 25px;
    padding: 10px;
  }


.d-grid {
    display: grid!important;
    align-content: center;
    justify-items: center;
    width: fit-content;
}
/* ================== Mobile view ========================== */
/* ---- signIn form ---- */

.signIn-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 30px 0px;
  width: 325px;
  height: 370px;
  padding: 2px 20px 2px 20px;
  background: #eee;
  border-radius: 20px;
  box-shadow: 5px 20px 50px #000;
}

/* ---- SignUp form ----- */

.signUp-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 325px;
  height: 530px;
  padding: 2px 20px 0px 20px;
  margin: 10px 0px 10px 0px;
  border-radius: 20px;
  background: #eee;
  box-shadow: 5px 20px 50px #000;
}


   /* -- Sign in form button --- */
  .btn-signIn{
    width: 200px;
    
  }
  /* -- Sign Up form button --- */
  .btn-signUp{
  width: 200px;
  }



/* ================== Tablet view ========================== */

@media screen and (min-width: 429px) and (max-width: 835px) {
  h1 {
    font-size: 40px;
    padding: 10px;
  }
  Form h1 {
    font-size: 40px;
  }
  .labels {
    font-size: 30px;
    font-weight: bold;
    color: black;
  }

  .inputFields {
    width: 400px;
    height: 60px;
    font-size: 25px;
  }

  /* ---- signIn form ---- */

  .signIn-form {
    width: 600px;
    height: 500px;

  }

  /* ---- SignUp form ----- */

  .signUp-form {
    width: 666px;
    height: 800px;
    padding: 20px;
    margin: 10px 0px 10px 0px;
  }

/* -- Sign in form button --- */
   .btn-signIn{
    width: 260px;
    
  }
  /* -- Sign Up form button --- */
  .btn-signUp{
  width: 260px;
  }
}

/* ================== laptop and desktop views ========================== */
@media screen and (min-width: 836px) and (max-width: 1920px) {
  h1 {
    font-size: 50px;
    padding: 10px;
  }
  Form h1 {
    font-size: 40px;
  }
  .labels {
    font-size: 25px;
    font-weight: bold;
    color: black;
  }

  .inputFields {
    width: 400px;
    height: 50px;
    font-size: 25px;
  }

  /* ---- signIn form ---- */

  .signIn-form {
    margin: 10px 0px 30px 0px;
    width: 666px;
    height: 700px;
  }

  /* ---- SignUp form ----- */

  .signUp-form {
    width: 666px;
    height: 750px;
    padding-bottom: 0px;
    margin: 10px 0px 10px 0px;
  }

    /* -- Sign in form button --- */
   .btn-signIn{
    width: 300px;
    
  }
  /* -- Sign Up form button --- */
  .btn-signUp{
  width: 300px;
  }

}

/* ================== large screens ========================== */
@media screen and (min-width: 1921px)  {
  h1 {
    font-size: 80px;
    padding: 10px;
  }
  Form h1 {
    font-size: 50px;
  }
  .labels {
    font-size: 30px;
    font-weight: bold;
    color: black;
  }

  .inputFields {
    width: 500px;
    height: 60px;
    font-size: 30px;
  }

  /* ---- signIn form ---- */

  .signIn-form {
    margin: 10px 0px 30px 0px;
    width: 766px;
    height: 800px;
  }

  /* ---- SignUp form ----- */

  .signUp-form {
    width: 766px;
    height: 800px;
    padding-bottom: 0px;
    margin: 20px 0px 30px 0px;
  }

   /* -- Sign in form button --- */
   .btn-signIn{
    width: 350px;
    font-size: 40px;
    
  }
  /* -- Sign Up form button --- */
  .btn-signUp{
  width: 350px;
  font-size: 40px;
  }

}

